<html>
	<head>
		<title>Movie App</title>
		<!-- CSS only -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
			crossorigin="anonymous"/>
			<link rel="stylesheet" href="/stylesheets/design.css" />

		    
	</head>
	<body>
          <h1 id="searchh1"class="text-center">Search Your Movie Here</h1>
		    <form action="/results" method="GET" class="justify-content-center d-flex">
			    <input
				type="text"
				name="search"
				class="form-control w-25"
				placeholder="Enter Movie Name"/>
			    <button id="bttn" class=" text-center btn btn-success">Search Movie</button>
		    </form>
	</body>
</html>
